<section>
<!--   <article class="listing-panel" ng-repeat="r in orders.slice().reverse()">
    <header>
      <h1>{{r.status}} &#9733;| {{r.org.name}}</h1>
      <h2>{{r.driver.email}}</h2>
    </header>
    <p>{{r.rating}} - {{r.comments}}</p>
    <p>{{r.pickupAt}} - {{r.deliverAt}}</p>
    <p>{{r.pickup}} - {{r.drop}}</p>
  </article> -->
  <listing class="listing-panel">
  <div  ng-repeat="o in orders.slice().reverse()">
  <p>{{o.createdAt}}</p>
  </div>
  </listing>
  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
  </ui-gmap-google-map>
</section>
